:root {
  --width-s-min: 375px;
  --width-s-max: 640px;
  --width-m-min: 641px;
  --width-l-min: 1008px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-width: var(--width-s-min);
  width: 40%;
  height: 70%;
  border: 1px solid red;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 5%;

}
